html, body {
    height: 100%;
    margin: 0;
    overflow: hidden; 
  }
  
.container {
    height: 100vh; 
  }
  
.sidenav {
    width: 250px; 
}
  
.sidenav-content {
    padding: 16px; 
    height: 100%; 
}
