<mat-drawer-container class="container" autosize [hasBackdrop]="isMobile">

  <mat-drawer #drawer class="sidenav" [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile">
    <div class="sidenav-header">
      <img class="header-icon" src="../../assets/img/logo-icon.png" alt="/assets/img/logo-icon.png" (click)="navigateTo('app/inicio')">
      
   </div>


   <mat-divider></mat-divider>

    <button type="button" mat-button  class="full-width-button" (click)="navigateTo('app/inicio')">
      <mat-icon aria-label="Characters icon">home</mat-icon>
      <span>Inicio</span>
    </button>

   <mat-divider></mat-divider>

   <button type="button" mat-button class="full-width-button" [matMenuTriggerFor]="personajes">
    <mat-icon aria-label="Characters icon">people</mat-icon>
    <span>Personajes</span>
    <mat-icon>arrow_drop_down</mat-icon>
  </button>
  
  <mat-menu #personajes="matMenu" class="custom-mat-menu select-option">
    <button mat-menu-item class="select-option" (click)="navigateTo('app/table-view')">
      <mat-icon>list</mat-icon>
      <span>Mostrar en Tabla</span>
    </button>
    <button mat-menu-item class="select-option" (click)="navigateTo('app/cards-view')">
      <mat-icon>image</mat-icon>
      <span>Mostrar en Formato Card</span>
    </button>
  </mat-menu>

   
    <mat-divider></mat-divider>

    <button type="button" mat-button  class="full-width-button" (click)="navigateTo('app/episodes')">
      <mat-icon aria-label="Episodes icon">tv</mat-icon>
      <span>Capítulos</span>
    </button>

    <mat-divider></mat-divider>

  </mat-drawer>

  <header>
    <app-menu-button (click)="drawer.toggle()"></app-menu-button>
  </header>

  <div class="sidenav-content">
   

    <router-outlet></router-outlet>
  </div>

</mat-drawer-container>
