<div class="container">
    <h1 mat-dialog-title style="color: white;">Detalles del Personaje</h1>
    <mat-dialog-content>
      <div class="dialog-content">
        <div class="dialog-image">
          <img [src]="data.image" alt="{{data.name}}">
        </div>
        <div class="dialog-info">
          <h2 >{{data.name}}</h2>
          <p><strong>Estado:</strong> {{data.status}}</p>
          <p><strong>Especie:</strong> {{data.species}}</p>
          <p><strong>Sexo:</strong> {{data.gender}}</p>
          <p><strong>Origen:</strong> {{data?.origin?.name}}</p>
          <p><strong>Ubicación:</strong> {{data?.location?.name}}</p>
          <p><strong>Cantidad de Apariciones:</strong> {{data.episode.length}}</p>
        </div>
      </div>
    </mat-dialog-content>
    <mat-dialog-actions>
      <app-go-back-button (click)="onClose()"> </app-go-back-button>
    </mat-dialog-actions>
</div>
