
<div class="container">
  <mat-form-field appearance="fill" class="filter">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Escriba cualquier nombre..." (input)="onSearchChange($event)">
  </mat-form-field>
  <div class="cards-wrapper">
    <mat-card class="card" appearance="outlined" *ngFor="let dataSource of paginatedData">
      <mat-card-header>
        <mat-card-title-group>
          <mat-card-title>{{ dataSource.name }}</mat-card-title>
          <mat-card-subtitle>{{ dataSource.species }}</mat-card-subtitle>
          <img mat-card-md-image [src]="dataSource.image" alt="{{ dataSource.name }}">
        </mat-card-title-group>
      </mat-card-header>
      <mat-card-content>
        <ng-container *ngIf="dataSource.status">
          <p class="description-container">
            {{ dataSource.status }}
          </p>
        </ng-container>
      </mat-card-content>
    </mat-card>
  </div>
</div>

<mat-paginator [length]="totalItems"
               [pageSize]="pageSize" 
               [pageSizeOptions]="[15, 50, 100]" 
               (page)="onPageChange($event)">
</mat-paginator>
