<div class="container">
  <mat-form-field appearance="fill" class="filter">
    <mat-label>Buscar</mat-label>
    <input matInput placeholder="Escriba cualquier nombre..." (input)="onSearchChange($event)">
  </mat-form-field>
  <div class="table-container">
    <table mat-table [dataSource]="dataSourceMat" matSort class="mat-elevation-z8">
      <ng-container *ngFor="let columna of displayedColumns" [matColumnDef]="columna">
        <th mat-header-cell *matHeaderCellDef mat-sort-header> {{ columnLabels[columna] || columna }} </th>

        <ng-container *ngIf="columna === 'image'; else defaultCell">
          <td mat-cell *matCellDef="let element" (click)="showData(element)">
            <img [src]="element[columna]" alt="Character Image" style="width: 50px; height: 50px;">
          </td>
        </ng-container>

        <ng-container *ngIf="columna === 'status'; else defaultCell">
          <td mat-cell *matCellDef="let element" (click)="showData(element)">
            <span [ngClass]="getStatusClass(element[columna])">
              {{ element[columna] }}
            </span>
          </td>
        </ng-container>

        <ng-template #defaultCell>
          <td mat-cell *matCellDef="let element" (click)="showData(element)"> {{ element[columna] }} </td>
        </ng-template>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="dataSourceMat.data.length"
                   [pageSize]="pageSize"
                   [pageSizeOptions]="[10, 20, 100]"
                   showFirstLastButtons>
    </mat-paginator>
  </div>
</div>
