html, body {
  height: 100%;
  margin: 0;
  overflow: hidden; 
}
.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10em); 
  padding: 16px;
  margin-top: 3em;
  box-sizing: border-box;
  overflow-y: scroll;
}

.filter-container {
  display: flex;
  gap: 16px;
}

.table-container {
  display: flex;
  flex-direction: column;
}

table {
  background-color: #212121;
}

th, td, tr {
  color: white;
}

mat-paginator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #2c9caf;
  color: white;
  z-index: 1;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
  border-color: currentColor;
}