.spinner {
    text-align: center;
    margin: 20px;
  }
  
  mat-spinner {
    margin: 10px;
  }

.status-alive {
  color: green;
  font-weight: bold;
}

.status-dead {
  color: red;
  font-weight: bold;
}

.status-unknown {
  color: black;
  font-weight: bold;
}
.container {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 10em); 
  padding: 16px;
  box-sizing: border-box;
  margin-top: 3em;
  overflow-y: scroll;
}

mat-paginator {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(to left, #7ac86a, #47895f);
  color: white;
  z-index: 1;
}
