.container {
    height: 100vh;
    overflow-y: scroll;
}

@media (min-width: 600px) {
    .container{
        margin-top: 5em;
        overflow-y: scroll;
    }
}

/* Estilos para pantallas más pequeñas (móviles) */
@media (max-width: 599px) {
    .container {
        margin-top: 5em;
        overflow-y: scroll;
        margin-bottom: 3em;
    }
}